body {
  min-height: 100vh;
  margin: 0;
}

.layoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layoutBackground {
  flex: 1;
  display: flex;
  width: 100%;
}

.mainWrapper {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
  width: 100%;
}

.content-wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
